@import url(https://fonts.googleapis.com/css?family=Concert+One:regular);
@import url(https://fonts.googleapis.com/css?family=Denk+One:regular);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:regular);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-cuarta);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section {
  margin-top: 100px;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.333%;
}

.no-visible {
  opacity: 0;
}

.r-span2 {
  grid-row: span 2;
}

.btn-transparent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  color: #FFF;
  border: 3px solid #FEE7A6;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  transition: all 0.5s;
}
.btn-transparent:hover {
  color: #EC6809;
  border: 3px solid #FFF;
  transform: scale(1.1);
}
.btn-transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: #FFF;
  z-index: -1;
  transition: all 0.8s;
}
.btn-transparent:hover::before {
  width: 50px;
  transform: translateX(100px);
}

.btn-prin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #FFF;
  background: #EC6809;
  /* border: 3px solid var(--color-tercero); */
  border-radius: 30px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  top: 0;
  padding: 10px 20px;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  display: inline;
  margin: 0 5px;
}
nav ul li a {
  color: #FEE7A6;
  padding: 0 20px;
  font-family: "Fjalla One";
  font-size: 18px;
  letter-spacing: 1px;
}
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.4);
  background: transparent;
  z-index: -1;
  border-bottom: 1px solid #FEE7A6;
}
nav .nav-logo {
  width: 60px;
  height: 60px;
}
nav .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  font-size: 17px;
  color: #fff;
  /* background: var(--color-segundo); */
  border-radius: 50%;
  border: 2px solid #FFF;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  background: url(../img/hdr-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  clip-path: circle(140vh at 50% -50vh);
  /* clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 90%, 0% 50%); */
  /* -webkit-clip-path: circle(70.0% at 50% 25%);
  clip-path: circle(70.0% at 50% 25%); */
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* z-index: 2; */
}
.header .header-content h3 {
  font-family: "Concert One";
  color: #EC6809;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}
.header .header-content h1 {
  font-family: "Concert One";
  font-size: 115px;
  color: #FEE7A6;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
}
.header .header-content p {
  font-family: "Fjalla One";
  font-size: 18px;
  font-weight: 100;
  color: #EC6809;
  text-align: center;
  letter-spacing: 1px;
  width: 50%;
}

.cont-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  width: 100%;
  /* background: #0F1854; */
  position: absolute;
  bottom: 20px;
  /* transform: translateX(-50%, -50%); */
  /* z-index: 5; */
}
.cont-img-center img {
  width: 200px;
  height: 200px;
}

.sect-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sect-icons .cont-icons {
  /* background: #EC6809; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.sect-icons .cont-icons .card-icon {
  /* background: chartreuse; */
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
}
.sect-icons .cont-icons .card-icon .icon-card {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.sect-icons .cont-icons .card-icon p {
  font-family: "Fjalla One";
  font-size: 20px;
  font-weight: 400;
  color: #0F1854;
  text-align: center;
}

.menu-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.menu-index .cont-menu-index {
  position: relative;
  background: #0F1854;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  /* width: 33%; */
  min-width: 350px;
  height: 480px;
  padding: 10px 20px;
  z-index: -1;
}
.menu-index .cont-menu-index:nth-child(1) {
  background: #0F1854;
}
.menu-index .cont-menu-index:nth-child(2) {
  background: #F2CB05;
}
.menu-index .cont-menu-index:nth-child(3) {
  background: #EC6809;
}
.menu-index .cont-menu-index:nth-child(4) {
  background: #8F5B00;
}
.menu-index .cont-menu-index:nth-child(5) {
  background: #80D25B;
}
.menu-index .cont-menu-index:nth-child(5) img, .menu-index .cont-menu-index:nth-child(4) img {
  right: -20px;
  width: 380px;
  height: 400px;
}
.menu-index .cont-menu-index h3 {
  font-family: "Concert One";
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  color: #FFF;
}
.menu-index .cont-menu-index p {
  /* font-family: var(--font-tercera); */
  color: #FFF;
  width: 50%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  z-index: 2;
}
.menu-index .cont-menu-index img {
  position: absolute;
  bottom: 0;
  right: -61px;
  width: 280px;
  height: 400px;
}

.sect-bseller {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.sect-bseller .cont-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.sect-bseller .cont-text h3 {
  color: #0F1854;
  font-family: "Fjalla One";
  font-size: 4vmin;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}
.sect-bseller .cont-text p {
  font-family: "Oswald";
  color: #EC6809;
  font-size: 2.3vmin;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px;
}
.sect-bseller .img-cont {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  grid-template-rows: repeat(2, 170px);
  gap: 2px;
}
.sect-bseller .img-cont img {
  width: 100%;
  height: 100%;
}

.ban-asados {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background: url(../../img/headers/bg-asad.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 0;
}
.ban-asados .bg-blue {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.4); */
  background: rgba(15, 24, 84, 0.6);
}
.ban-asados .bg-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: url(../img/other/shape-white.png);
  transform: rotate(180deg);
}
.ban-asados .bg-blue::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: url(../img/other/shape-white.png);
}
.ban-asados h2 {
  color: #FFF;
  font-family: "Concert One";
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.ban-asados .cont-bot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  /* width: 50%; */
  z-index: 1;
  padding: 10px 0;
}
.ban-asados .cont-bot p {
  color: #FFF;
  width: 50%;
  font-size: 2vmin;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 0;
  margin: 10px 0;
  text-align: center;
}

.sect-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-gallery .grid-container {
  width: 80%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 210px);
  padding: 15px;
}
.sect-gallery .grid-container:hover .item {
  opacity: 0.4;
}
.sect-gallery .item {
  border-radius: 10px;
  overflow-y: hidden;
  transition: all 0.6s;
}
.sect-gallery .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.sect-gallery .item:hover {
  transform: scale(1.1);
  opacity: 1 !important;
  z-index: 2;
}

/*# sourceMappingURL=styles.css.map */
