a {
    text-decoration: none;
}

section {
    margin-top: 100px;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.333%;
}

.no-visible{
    opacity: 0;
}

.btn-transparent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    color: #FFF;
    border: 3px solid $color-tercero;
    border-radius: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.5s;

    &:hover{
        color: $color-segundo;
        border: 3px solid #FFF;
        transform: scale(1.1);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background: #FFF;
        z-index: -1;
        transition: all 0.8s;
        
    }

    &:hover::before{
        width: 50px;
        transform: translateX(100px);
        
    }
}

.btn-prin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: #FFF;
    background: $color-segundo;
    /* border: 3px solid var(--color-tercero); */
    border-radius: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}